* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sonds {
    width: clamp(14rem, 20rem + 29vw, 42rem);
}

#sonds button {
    padding: 4.8rem;
    margin: 1.6rem;
    border-radius: 2.4rem;
    
    background: var(--btn-color);
}

#sonds .forest:hover {
    background: var(--btn-soundForest-color-hover);
    transition: 0.6s;
}
#sonds .rain:hover {
    background: var(--btn-soundRain-color-hover);
    transition: 0.6s;
}
#sonds .coffeeShop:hover {
    background: var(--btn-soundCoffeeShop-color-hover);
    transition: 0.6s;
}
#sonds .fireplace:hover {
    background: var(--btn-soundFireplace-color-hover);
    transition: 0.6s;
}

.discreet {
    opacity: 0.5;
    pointer-events: none;
}

/* clamp(3.2rem, 2rem + 12vw, 6.4rem); */
#groupSounds button svg {
    width: clamp(1.6rem, 4rem + 1.6vw, 5rem);
}

#sonds .forest.select {
    background: var(--btn-soundForest-color);
}

#sonds button.rain.select {
    background: var(--btn-soundRain-color);
}

#sonds button.coffeeShop.select {
    background: var(--btn-soundCoffeeShop-color);
}

#sonds button.fireplace.select {
    background: var(--btn-soundFireplace-color);
}

#sonds button.select svg path {
    fill: var(--btn-select)
}
/*
#groupVolume {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(22rem, 4rem + 32vw, 30.6rem);
    margin: 1.6rem 1.6rem 0 1.6rem;
    padding: 1rem;

    background: var(--btn-color);
    border-radius: 1rem;
}

#groupSounds #groupVolume button {
    padding: 0;
    background: none;
    margin: 0;
}

.slider-container {
	position: relative;
    width: 60%;
}

.slider-container .bar {
	position: absolute;
	z-index: 2;
	left: 0.2rem;
	top: 0.4rem;
	width: 94%;
	height: 0.6rem;
	border-radius: 0.5rem;
	background-color: var(--segundary-volume-color);
	overflow: hidden;
}

.slider-container .bar .fill {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--primary-volume-color);
}

.slider-container .slider {
	position: relative;
	z-index: 2;
	--webkit-appearance: none;
	width: 100%;
	height: 0.6rem;
	border-radius: 0.5rem;
	outline: none;
	background-color: transparent;
    cursor: pointer;
}

.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1.6rem;
	height: 1.6rem;
	background-color: var(--circle-volume);
    border: var(--primary-volume-color) solid 0.4rem;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: .3s ease-in-out;
}

.slider-container .slider.noVolume::-webkit-slider-thumb {
    border: var(--segundary-volume-color) solid 0.4rem;
    transition: none;
}

.slider-container .slider::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 5px var(--circle-volume-hover);
}

.slider-container .slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px var(--circle-volume-active);
}
*/
@media (max-width: 950px)
{
    #groupSounds {
        text-align: center;
    }

    #groupSounds button {
        padding: 4rem;
        margin: 1rem;
    }

    #groupVolume {
        margin: 2rem auto;
    }
}

@media (max-width: 450px)
{
    #groupSounds button {
        padding: 2.4rem;
        margin: 0.7rem;
    }
}